<!-- componente navbar -->
<app-navbar></app-navbar>

<!-- componente lista treni  -->
<h1> MetroChat  </h1>


<div class="listaTreni">
  <ul>
    <li>
      <app-metro *ngFor="let metro of listaMetro"
      [datiIn]="metro"
      [ora]="nowToday"
      (click)="setMetro(metro.idt)"
      (inPartenza)="partiti($event)"
      >
    </app-metro>
    <div *ngIf="errorMsg"> errore : {{ errorMsg }}</div>
    </li>
  </ul>

  <p> {{ treniPartiti }}</p>

  <div *ngFor="let metro2 of listaMetro">
    <p> {{ metro2.idt}}</p>
    <p> {{ metro2.linea}}</p>
    <p> {{ metro2.idt}}</p>
    <p> {{ metro2.idt}}</p>
  </div>
  <div> {{ listaMetro | json}}</div>
</div>
