<!-- componente lista treni  -->
<h1 class="text-center" [@titoloIn]="statoTitolo"> Treni in arrivo </h1>


<div [@listaTreniIn]="statoListaTreni" class="listaTreni">
  <ul>
    <li>
      <app-metro *ngFor="let metro of listaMetro"
      [datiIn]="metro"
      [ora]="nowToday"
      (click)="setMetro(metro.id)"
      (inPartenza)="partiti($event)"
      >
    </app-metro>
    <div *ngIf="errorMsg"> errore : {{ errorMsg }}</div>
    </li>
  </ul>

  <p> {{ treniPartiti }}</p>

  <!-- <div> {{ listaMetro | json}}</div> -->
</div>
