<!-- componente lista treni  -->
<h1> MetroChat {{title}} </h1>
<app-treno></app-treno>

<h1> Luci Stanza  {{title}} </h1>
<app-luci-stanza></app-luci-stanza>


<h1> test libro capitolo 5 </h1>
<app-modificare-il-dom></app-modificare-il-dom>


<h1> Date con pipe capitolo 6 </h1>
<app-date-pipe></app-date-pipe>


<h1> Modellare i dati  capitolo 7 </h1>
<app-news></app-news>


<h1> interagire con il template e l'app gli eventi capitolo 8 </h1>
<app-tastiera></app-tastiera>


<h1> progettare componenti inteligenti capitolo 9 </h1>
<app-popup #ppA> Messaggio in popup A </app-popup>  <br>
<app-popup #ppB> Messaggio in popup B </app-popup>  <br>
<!-- PRATICA SCONSIGLIATO SU ANGULAR perche bypassa il controllo XSS -->
<app-popup #ppC> ( NB : PRATICA SCONGLIATA ) Messaggio in popup C </app-popup>  <br>
<!-- esegue direttamente il metodo del componente figlio -->
<button (click)="ppA.mostra()"> Mostra popup A </button>  <br>
<!-- esegue il metodo scritto in component.ts -->
<button (click)="mostraMsgB()"> Mostra popup B </button>  <br>
<!-- PRATICA SCONSIGLIATO SU ANGULAR perche bypassa il controllo XSS -->
<button (click)="mostraMsgC()" #miobtn > ( NB : PRATICA SCONGLIATA ) Mostra popup C </button>  <br>
<p> Propieta del componente figlio {{ ppA.mostraMsg }}</p>
<p> Propieta del componente figlio {{ ppB.mostraMsg }}</p>
<p> Propieta del componente figlio {{ ppC.mostraMsg }}</p>

<br>

<h2> Creazione e Gestione dei moduli web capitolo 13 - Form normale </h2>
<app-form-iscriviti></app-form-iscriviti>



<h2>Creazione e Gestione dei moduli web capitolo 13 - Form reactive </h2>
<app-form-iscriviti-reactive></app-form-iscriviti-reactive>


<h2> Le basi della libreria RxJS - Observable e observer </h2>
<app-observable></app-observable>
