.imgUserChat{
  max-width: 32px;
  max-height:32px;
  clear:both;
  flex:0 1 calc(50% - 10px);
}

.chatText{
  margin: 5px;
  flex:0 1 calc(50% - 10px);
}

.chatComponent{
  display:flex;
  flex:0 1 calc(100% );

}

