<!-- componente navbar -->
<app-navbar></app-navbar>

<!-- componente lista treni  -->
<h1> MetroChat {{title}} </h1>
<app-lista-metro>  </app-lista-metro>

<!-- luci stanza  -->
<h1> Luci Stanza  {{title}} </h1>
<app-luci-stanza></app-luci-stanza>


<!-- elementi di test libro  -->
<h1> test libro capitolo 5 </h1>
<app-modificare-il-dom></app-modificare-il-dom>


<!-- Date con pipe  -->
<h1> Date con pipe capitolo 6 </h1>
<app-date-pipe></app-date-pipe>

<!-- componente per il routing  -->
<router-outlet></router-outlet>
