<header>

  <nav>
    <ul *ngIf="menuBack !='ON'; else showback">
      <li><a routerLink="/"> {{ linkNav[0] }}</a></li>
      <li><a routerLink="/Preferiti"> {{ linkNav[1] }}</a></li>
      <li><a routerLink="/Login"> {{ linkNav[2] }}</a></li>
      <li><a routerLink="/Test"> {{ linkNav[3] }}</a></li>
      <li><a routerLink="/ObservableUnicast"> {{ linkNav[4] }}</a></li>
      <li><a routerLink="/ObservableMulticast"> {{ linkNav[5] }}</a></li>
      <li><a routerLink="/ObservableTipi"> {{ linkNav[6] }}</a></li>

    </ul>
  </nav>
  <ng-template #showback>
    <ul>
      <li><a routerLink="/TreniInArrivo"> <- Chat </a></li>
    </ul>
  </ng-template>


  <title> app libro per study angular </title>

</header>
